<div class="container mt-3">
    <div class="row">
        <div  *ngFor="let product of products" class="col-3 mt-5">
            <div class="card p-2">
                <div style="cursor: pointer;" (click)="viewDetails(product.id)" class="text-center mt-3">
                    <img style="width: 100px; height: 120px;" [src]="product.image"
                        class="card-img-top img-fluid text-center" alt="...">
                </div>
                <div style="cursor: pointer;" (click)="viewDetails(product.id)"  class="card-body">
                    <p class="card-title  text-truncate">{{product.title}}</p>
                    <p class="card-price pb-0 mb-0"> &#x20b9; {{product.price}} <span class="piece">/ piece</span> </p>
                    <rating style="color: rgb(177, 177, 4); font-size: 19px;" [ngModel]="product.rating.rate" max="5"
                        readonly="true"></rating> <span style="font-size: 13px; color: rgb(78, 78, 78);">
                        ({{product.rating.count}})</span>
                    
                </div>
                <button class="btn-add-cart form-control  mt-3 mb-3 " (click)="addToCart(product)">Add to cart</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<ngx-spinner></ngx-spinner>