.card-title{
    font-size: 15px;
    font-weight: 500;
}
.card-price{
    font-size: 19px;
    font-weight: 700;
    color: rgb(39, 39, 122);
}
.piece{
    font-size: 13px;
    font-weight: 400;
    color: rgb(77, 77, 77);
}
.btn-add-cart{
  font-size: 13px;
  background-color: rgb(23, 23, 77);
  color: white;
}