<div class="nav-container pt-2 pb-2">
  <nav class="navbar container navbar-expand-lg navbar-light ">
    <a class="navbar-brand" routerLink="/list" style="font-weight: 600;">
      <img src="assets/images/carts.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp; E-cart
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3 active">
          <a *ngIf="!isAuth" routerLink="/" class="nav-link" href="#">Log in</a>
        </li>
        <li *ngIf="!isAuth" class="nav-item mr-3 active">
          <a class="nav-link" routerLink="/register" href="#">Register</a>
        </li>
        <li *ngIf="isAuth" class="nav-item mr-3 active">
          <button type="button" routerLink="/cart" class="btn btn-cart">
            Cart <span class="badge badge-light">{{totalItems}}</span>
          </button>
        </li>
        <li *ngIf="isAuth" class="nav-item mr-3 active">
          <a class="nav-link" (click)="logOut()" href="#">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>