<section class="container m-5 ">
    <form (ngSubmit)="registerUser(register)" #register='ngForm' [formGroup]=registerForm class="mt-5" action="">
        <div class="row ">
            <div class="col-6 p-4">
                <p class="label pb-2">Personal info</p>
                <div class="form-row ">
                    <div class="col">
                        <input type="text" formControlName="firstName" class="form-control input-boxes"
                            placeholder="First name"
                            [ngClass]="{'is-invalid':registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid}">
                        <div class="invalid-feedback">
                            First name required
                        </div>
                    </div>
                    <div class="col">
                        <input type="text" formControlName="lastName" class="form-control input-boxes"
                            placeholder="Last name"
                            [ngClass]="{'is-invalid':registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid}">
                        <div class="invalid-feedback">
                            Last name required
                        </div>
                    </div>
                </div>
                <input placeholder="Enter email" formControlName="email" class="form-control input-boxes  mt-4"
                    type="email"
                    [ngClass]="{'is-invalid':registerForm.get('email')?.touched && registerForm.get('email')?.invalid}">
                <div class="invalid-feedback">
                    Email required
                </div>

                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text input-boxes">+91</div>
                    </div>
                    <input type="text" formControlName="mobile" class="form-control input-boxes"
                        id="inlineFormInputGroup" placeholder="Mobile"
                        [ngClass]="{'is-invalid':registerForm.get('mobile')?.touched && registerForm.get('mobile')?.invalid}">
                    <div class="invalid-feedback">
                        Mobile number required
                    </div>
                </div>

                <input placeholder="Password" class="form-control input-boxes mt-4" formControlName="password"
                    type="password"
                    [ngClass]="{'is-invalid':registerForm.get('password')?.touched && registerForm.get('password')?.invalid}">
                <div class="invalid-feedback">
                    Password required
                </div>
                <br>
                <br>
                <button type="submit" [disabled]="!registerForm.valid"
                    class="btn login-button form-control mt-4">Register</button>
            </div>
            <div class="col-6 p-4">
                <div formArrayName="address" style="height: 70vh; overflow: auto; overflow-x: hidden; ">
                    <p class="label pb-2">Address <span style="cursor: pointer;" (click)="addAddress()">
                           &nbsp; <i style="color:  #2941CA;" class="fas fa-plus"></i>
                        </span>
                    </p>
                    <div class="form-group"
                        *ngFor="let addresscontrol of registerForm.get('address')['controls']; let i = index ">

                        <div [formGroupName]="i">
                            <span *ngIf="registerForm.get('address')['controls'].length>1" class="mb-3" (click)="removeAddress(i)" style="cursor: pointer; float: right;">
                                <i style="color: rgb(216, 30, 30);" class="fas fa-minus"></i>
                            </span>
                            <input type="text" class="form-control input-boxes " formControlName="addressLine"
                                placeholder="Address line"
                                [ngClass]="{'is-invalid':addresscontrol.controls.addressLine?.touched && addresscontrol.controls.addressLine?.invalid}">
                            <div class="invalid-feedback">
                                Address line required
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control input-boxes mt-4" formControlName="city"
                                        placeholder="City"
                                        [ngClass]="{'is-invalid':addresscontrol.controls.city?.touched && addresscontrol.controls.city?.invalid}">
                                    <div class="invalid-feedback">
                                        City required
                                    </div>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control input-boxes mt-4" formControlName="zipcode"
                                        placeholder="Zipcode"
                                        [ngClass]="{'is-invalid':addresscontrol.controls.zipcode?.touched && addresscontrol.controls.zipcode?.invalid}">
                                    <div class="invalid-feedback">
                                        Zipcode required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr *ngIf="registerForm.get('address')['controls'].length>1" >
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>